<h1>Sign up!</h1>
<% if cookies[:saved_lead] %>
  Thanks for signing up!
<% else %>
  <%= form_for @lead do |f| %>
    <%= f.select :lead_type, ["Tutor", "Student"], prompt: "I'm a" %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.phone_field :phone, placeholder: "Phone" %>

    <%= f.submit %>
  <% end %>
<% end %>
